.message {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: .5rem;
    
    border-radius: var(--border-radius);
    color: var(--text-primary);
    
    /* align-self: flex-start; */
    transition: var(--transition-speed) ease;
    transform: translateX(0);
    
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.user-message {
    align-self: flex-end;
    background-color: var(--bg-third);
}

/* .user-message:hover {
    transform: translateX(-.1rem);
} */

.not-user-message {
    align-self: flex-start;
    background-color: var(--bg-quad);
}

/* .not-user-message:hover {
    transform: translateX(.1rem);
} */

.message-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .9rem;
    cursor: default;
    gap: 2rem;
}

.row-reverse {
    flex-direction: row-reverse;
}

.message-user {
    display: flex;
    flex-direction: row;
    gap: .3rem;
    /* justify-content: baseline;
    align-self: center; */
    /* position: relative; */
    font-weight: 700;
    opacity: 0.9;
    /* margin-right: .5rem; */
}

/* @media screen and (max-width: 500px) {
    .mobile-status {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }
}

@media screen and (min-width: 500px) {
    .mobile-status {
        display: none;
    }
} */

.mobile-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-size: .5rem;
}

.online {
    color: var(--greener);
}

.offline {
    color: var(--offline);
}

.message-date {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .message-date {
    }

    .message-date:hover .message-date-tooltip {
        visibility: visible;
        opacity: 1;
        display: flex;
        z-index: 100;
    }
}

/* .message-date:hover .message-date-tooltip {
    visibility: visible;
    opacity: 1;
    display: flex;
} */

@media screen and (min-width: 500px) {
    .message-date {
        transition: .2s ease;
    }

    .message-date:hover .message-date-tooltip {
        visibility: visible;
        opacity: 1;
        display: flex;
        -webkit-transition: .5s all;   
        -webkit-transition-delay: .5s; 
        -moz-transition: .5s all;   
        -moz-transition-delay: .5s; 
        -ms-transition: .5s all;   
        -ms-transition-delay: .5s; 
        -o-transition: .5s all;   
        -o-transition-delay: .5s; 
        transition: .5s all;   
        transition-delay: .5s; 
    }
}

.message-date-tooltip {
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    top: -2rem;
    font-size: .8rem;
    background-color: var(--text-secondary);
    padding: .3rem;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    color: var(--bg-third);
    z-index: 100;
    
    /* transition: .5s cubic-bezier(.68,-.55,.265,1.55); */
    /* transition: .2s ease; */
}

.message-date-tooltip::before {
    z-index: 100;
    content: '';
    height: .6rem;
    width: .6rem;
    background-color: var(--text-secondary);
    /* background-color: lightcoral; */
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%) rotate(45deg);
}

.message-time-ago {
    justify-self: end;
    font-size: .8rem;
    opacity: 0.7;
    white-space: nowrap;
    /* margin-left: .5rem; */
    user-select: none;
}

.message-body {
    font-size: .9rem;
}