<main>
    <form [formGroup]="form" (ngSubmit)="signUp(form)">

        <div>
            <label>Email</label>
            <input type="text" formControlName="email">
        </div>
        <div>
            <label>Username</label>
            <input type="text" formControlName="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password" formControlName="password">
        </div>

        <button type="submit" [disabled]="form.invalid">Sign Up</button>
    </form>
</main>
