.list {
    background-color: var(--bg-primary);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* justify-content: left; */
    /* align-items: center; */
    margin: 0;
    padding: 1rem;
    flex: 1;
    border-right: 1px solid var(--bg-secondary);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    border-radius: 5px;
    background-color: var(--bg-quad);
    padding-left: 0.4rem;

    transition: var(--transition-speed) ease;
    transform: translateX(0);
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.item:hover {
    transform: translateX(.3rem);
}

.item i {
    color: var(--green);
    font-size: 0.7rem;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: var(--transition-speed) ease;
}

.item:hover i {
    color: var(--greener);
}