@media screen and (max-width: 500px) {
    
    main {
        --vertical-padding: 1rem;
        padding: var(--vertical-padding) 0;
        height: calc(100vh - var(--navbar-height) - calc(2*var(--vertical-padding)));
        /* height: 100vh; */
    }

    .chat-room-left {
        display: none;
        /* visibility: hidden; */
    }

    .chat-room-right {
        flex: 1;
        width: 90vw;
    }

    .chat-room-container {
        width: 95vw;
    }
}

@media screen and (min-width: 500px) {


    main {
        
        --vertical-padding: 2rem;
        padding: var(--vertical-padding) 0;
        height: calc(100vh - var(--navbar-height) - calc(2*var(--vertical-padding)));
    }

    .chat-room-left {
        display: flex;
        flex-direction: row;
        flex-direction: column;
    }

    .chat-room-container {
        width: 80vw;
    }
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* height: calc(100vh - var(--navbar-height) - 4rem); */
    /* padding: 2rem 0; */

    color: var(--text-primary);
    background-color: var(--bg-third);
}

.chat-room-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    /* width: 80vw; */
}

.chat-room-left {
    /* position: relative;
    display: flex;
    flex-direction: column; */
    background-color: var(--bg-third);
}

app-user-list {
    flex: 1;
    display: flex;
}

.chat-room-right {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-third);
    flex-grow: 5;
}

.title {
    text-align: end;
    margin-bottom: 1rem;
    white-space: nowrap;
    cursor: default;
}

app-chat-feed {
    display: flex;
    flex: 1;
}