main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: calc(100vh - var(--navbar-height) - 4rem);
    padding: 2rem;

    color: var(--text-primary);
    background-color: var(--bg-third);
}

.chat-room-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 60vw;
}

.chat-room-left {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-third);
}

app-user-list {
    flex: 1;
    display: flex;
}

.chat-room-right {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-third);
    flex-grow: 5;
}

.title {
    text-align: end;
    margin-bottom: 1rem;
    white-space: nowrap;
}

app-chat-feed {
    display: flex;
    flex: 1;
    /* max-height: var(--chatfeed-max-height); */
}