/* You can add global styles to this file, and also import other style files */

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --btn-primary: #e5383b;
    --btn-secondary: #ba181b;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-third: #161618;

    --green: #38b000;
    --transition-speed: 600ms;
    --letter-spacing: 0.2rem;
    --border-radius: 5px;

    --navbar-height: 5rem;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: var(--navbar-height);
    /* padding: 1rem; */
}

.title {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}