/* You can add global styles to this file, and also import other style files */

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --text-third: #0a0a0e;
    --text-quad: #919191;
    --btn-primary: #e5383b;
    --btn-secondary: #e72f32;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-third: #161618;
    --bg-quad: #2e2e3d;

    --green: #2f8a05;
    --greener: #38b000;
    --transition-speed: 450ms;
    --letter-spacing: 0.2rem;
    --border-radius: 5px;

    --navbar-height: 5rem;
    --max-height: 80vh;
    --chatfeed-max-height: calc(var(--max-height) - 8.2rem);
    /* --chatfeed-max-height: 5rem; */
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 14px;
    }
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: var(--navbar-height);
    /* padding: 1rem; */
}

.title {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}