
.chat-feed-messages::selection { /* Not working/
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

.chat-feed-messages::-moz-selection { /* Not working/
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

.chat-feed-messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    max-height: var(--chatfeed-max-height);
    background-color: var(--bg-primary);
    border-top-right-radius: var(--border-radius);

    /* display: grid;
    grid-template-columns: min-content;
    row-gap: .5rem; */

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: .5rem;
}

app-chat-message {
    /* CRUCIAL In order to apply align-self to children!! */
    display: flex; 
    flex-direction: column;
}

.chat-feed-messages::-webkit-scrollbar {
    width: 0.15rem;
}

.chat-feed-messages::-webkit-scrollbar-thumb {
    background: #e5383b;
}

.chat-feed-messages::-webkit-scrollbar-track {
    background: #1e1e24;
}

