
.chat-feed-messages::selection { /* Not working/
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

.chat-feed-messages::-moz-selection { /* Not working/
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

.chat-feed-messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    max-height: var(--chatfeed-max-height);
    background-color: var(--bg-primary);
    border-top-right-radius: var(--border-radius);

    display: grid;
}

.chat-feed-messages::-webkit-scrollbar {
    width: 0.15rem;
}

.chat-feed-messages::-webkit-scrollbar-thumb {
    background: #e5383b;
}

.chat-feed-messages::-webkit-scrollbar-track {
    background: #1e1e24;
}

